{% extends 'base.html.twig' %}

{% block title %}Create new Master!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Create new Master! ✅</h1>
    <form action="{{path('master_store')}}" method="POST">
        Name:<input type="text" name="master_name">
        Surname:<input type="text" name="master_surname">
        <button type="submit">Add new Master</button>
    </form>

</div>
{% endblock %}